{% extends 'base.html' %}
{% load static %}

{% block title %}Index - iPortfolio Bootstrap Template{% endblock %}

{% block content %}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <img src="{% static 'img/photo_2025-05-13_23-24-37.jpg' %}" alt="" data-aos="fade-in" class="">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <h2>MuhammadMuso</h2>
    <p>Men <span class="typed" data-typed-items="Backend, Developer & Future, IT Architect">Dasturchiman</span></p>
  </div>
</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>Men dasturchilikni o‘rganayotgan yosh ijodkor va kelajakda IT arxitektori bo‘lishni maqsad qilganman. Backend, ma’lumotlar bazalari va arxitektura dizayni bo‘yicha qiziqaman, shu yo‘nalishda loyihalar ustida ishlayapman.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="{% static 'img/photo_2025-05-13_23-24-37.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 content">
        <h2>Backend Developer & Future IT Architect</h2>
        <p class="fst-italic py-3">
          

Doimiy o‘rganishga, yangi texnologiyalarni sinashga va kuchli loyihalar yaratishga intilaman.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>22 Avgust 2004</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>bdjdkdnzn@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+998918827227</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Uzbekistan</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Junior</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>bdjdkdnzn@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <p class="py-3">
          Officiis eligendi itaque labore et dolorum mollitia officiis optio vero.
        </p>
      </div>
    </div>
  </div>
</section><!-- /About Section -->

{#  -----------------------------  #}
<section id="resumes" class="section">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Resumelar ro‘yxati</h1>
    <div class="row">
      {% for resume in resumes %}
        <div class="col-lg-6 mb-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'resume_detail' resume.pk %}">{{ resume.ism }}</a>
              </h5>
              <p><strong>Email:</strong> {{ resume.email }}</p>
              <p><strong>Tajriba:</strong> {{ resume.tajriba }}</p>


              {% if user.is_authenticated %}
              <div>
                    <a href="{% url 'resume_edit' resume.pk %}" class="btn mb-4" style="background-color:rgb(255, 159, 95); color: white;">Tahrirlash</a>
                    <a href="{% url 'resume_delete' resume.pk %}" class="btn mb-4" style="background-color:rgb(255, 0, 0); color: white;">O‘chirish</a>
                    <a href="{% url 'resume_detail' resume.pk %}" class="btn mb-4" style="background-color:rgb(0, 128, 255); color: white;">O‘tish</a>
              </div>
              {% endif %}

            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">Hozircha hech qanday resume qo‘shilmagan.</p>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}